<form accept-charset="UTF-8" method="post"
  action="http://fh.hypernovastudio.com/c9008799e4ee9ab1c7ab087a6b22306a">
  <div style="margin:0;padding:0;display:inline">
    <input name="utf8" type="hidden" value="✓">
  </div>

  <!-- <div class="page-header">
    <h2>Customer Information</h2>
  </div> -->

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label class="control-label" for="name">
          <abbr title="required">*</abbr> Full Name
        </label>
        <input class="form-control" id="name" name="name" type="text">
      </div>

      <div class="form-group">
        <label class="control-label" for="phone">
          <abbr title="required">*</abbr> Phone
        </label>
        <input class="form-control" id="phone" name="phone" type="tel">
      </div>

      <div class="form-group">
        <label class="control-label" for="email">
          <abbr title="required">*</abbr> Email
        </label>
        <input class="form-control" id="email" name="email" type="email">
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <label class="control-label" for="project_address">
          <abbr title="required">*</abbr> Project Address
        </label>
        <input class="form-control" id="project_address" name="project_address" type="text">
      </div>

      <div class="row">
        <div class="col-xs-8">
          <div class="form-group">
            <label class="control-label" for="city">
              <abbr title="required">*</abbr> City
            </label>
            <input class="form-control" id="city" name="city" type="text">
          </div>
        </div>

        <div class="col-xs-4">
          <div class="form-group">
            <label class="control-label" for="zip">
              <abbr title="required">*</abbr> Zip
            </label>
            <input class="form-control" id="zip" name="zip" type="number">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" for="estimate_date">
          <abbr title="required">*</abbr> Desired Estimate Date
        </label>
        <input class="form-control" id="estimate_date" name="estimate_date" type="date">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label class="control-label">
          <abbr title="required">*</abbr> I am Interested in Remodeling
        </label>
        <div class="row">
          <div class="col-xs-6">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="services[]" value="New Construction">
                New Construction
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="services[]" value="Additions">
                Additions
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="services[]" value="Commercial">
                Commercial
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="services[]" value="Home Remodeling">
                Home Remodeling
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="services[]" value="Kitchen">
                Kitchen
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="services[]" value="Bathrooms">
                Bathrooms
              </label>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="services[]" value="Decks">
                Decks
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="services[]" value="Roofing">
                Roofing
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="services[]" value="Flooring">
                Flooring
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="services[]" value="Outdoor Spaces">
                Outdoor Spaces
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="services[]" value="Windows">
                Windows
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="services[]" value="Other">
                Other
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <label class="control-label">
          <abbr title="required">*</abbr> Best Time to Reach Me
        </label>
        <div class="radio">
          <label>
            <input type="radio" name="reachable_time" value="Morning">
            Morning
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="reachable_time" value="Afternoon">
            Afternoon
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="reachable_time" value="Evening">
            Evening
          </label>
        </div>
      </div>
    </div>
  </div>


  <div class="form-group text-right">
    <button class="btn btn-primary" type="submit">Request Estimate Appointment</button>
  </div>
</form>
