<div class="row" style="margin-top:-30px">
  <div class="col-md-4">
    <div class="row">
      <div class="col-sm-6 col-md-12 vcard">
        <div class="page-header">
          <h2 class="fn org">{{ site.title }} Inc.</h2>
        </div>
        <p class="adr">{{ site.address }}</p>
        <div>
          <span class="tel">{{ site.phone }}</span> Phone<br>
          <span class="tel">
            <span class="value">{{ site.fax }}</span>
            <span class="type">Fax</span>
          </span><br>
          <a class="email" href="mailto:{{ site.email }}">{{ site.email }}</a>
        </div>
      </div>
      <div class="col-sm-6 col-md-12">
        <div class="page-header">
          <h2>Customer Service Hours</h2>
        </div>
        <p>
          Mon–Fri 10:00 am – 5:00 pm PST<br>
          Sat 10:00 am – 2:00 pm PST<br>
          Sun Closed
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-8">

    <form action="http://fh.hypernovastudio.com/" method="post" role="form">
      <div class="page-header">
        <h2>We'd love to hear from you</h2>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="form-group">
            <label for="name" class="control-label required">
              <abbr title="required">*</abbr> Name
            </label>
            <input name="name" id="name" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="email" class="control-label required">
              <abbr title="required">*</abbr> Email
            </label>
            <input name="email" id="email" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="phone" class="control-label">Phone</label>
            <input name="phone" id="phone" class="form-control" type="text">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="form-group">
            <label for="comment" class="control-label required">
              <abbr title="required">*</abbr> Comment
            </label>
            <textarea name="comment" id="comment" title="Comment" class="form-control" cols="5" rows="8" style="height:182px"></textarea>
          </div>
          <div class="form-group">
            <button type="submit" title="Submit" class="btn btn-primary pull-right">Submit</button>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-7">
    <div class="page-header">
      <h2>Are you ready for an expert?</h2>
    </div>
    <p>
      Let one of our trained professionals come to your home
      to measure your home and walk through all your options.
    </p>
    <p>
      <a href="#" class="btn btn-primary">
        Get A Free Estimate
      </a>
    </p>
  </div>
  <div class="col-sm-6 col-md-5">
    <div class="page-header">
      <h2>Testimonials</h2>
    </div>
  </div>
</div>
