<footer class="site-footer sticky-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2 class="footer-heading">{{ site.title }}</h2>

        <p>
          <a href="mailto:{{ site.email }}">{{ site.email }}</a><br>
          &copy; {{ site.time | date: '%Y' }} {{ site.title }}
        </p>
      </div>

      <div class="col-sm-4">
        <ul class="list-unstyled">
          <li>More Information:</li>
          <li><a href="/facebook/">Facebook</a></li>
          <li><a href="/twitter/">Twitter</a></li>
          <li><a href="/google+/">Google+</a></li>
        </ul>
      </div>

      <div class="col-sm-4">
        <p>
          Designed by
          <a href="http://hypernovastudio.com">Hypernova Design Studio</a>
        </p>
      </div>
    </div>

  </div>
</footer>
