<footer class="site-footer sticky-footer">

  <div class="footer-top">
    <div class="container">
      <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <ul class="footer-social">
        {% for social in site.social %}
          <li><a href="{{ social[1] }}" target="_blank">
            <i class="fa fa-{{ social[0] }} fa-4x"></i>
          </a></li>
        {% endfor %}
        <li><a href="mailto:{{ site.email }}">
          <i class="fa fa-envelope fa-4x"></i>
        </a></li>
      </ul>
    </div>

    <ul class="list-inline copyright">
      <li>
        &copy; {{ site.time | date: '%Y' }} {{ site.title }}
      </li>

      <li>
        Designed by
        <a href="https://www.hypernovastudio.com">Hypernova Design Studio</a>
      </li>
    </ul>
  </div>
</footer>
