.navbar-brand {
  font-family: $font-family-serif;
  text-transform: uppercase;
  opacity: 0.7;

  &:after {
    content: " inc.";
    text-transform: none;

    @media (min-width: $grid-float-breakpoint)
    and (max-width: $screen-sm-max) {
      content: none;
    }
  }

  @media (min-width: $grid-float-breakpoint) {
    position: absolute;
    margin-top: 14px;
  }
}
