$footer-bg: #002229;
$footer-color: #000;
$footer-link-color: #668899;

.site-footer {
  background: url('/images/footer.jpg') no-repeat;
  background-size: cover;
  text-align: center;
  margin-top: 70px;
  overflow: hidden;

  color: $footer-color;

  a {
    &, &:link, &:visited {
      color: $footer-link-color;
    }

    &:hover, &:active {
      color: lighten($footer-link-color, 10%);
    }
  }
}

body.home .site-footer {
  margin-top: 0;
}

.footer-top {
  background: $footer-bg;
  border: darken($footer-bg, 50%) solid;
  border-width: 1px 0;

  font-size: $font-size-large;
  padding: 15px 0;
  text-transform: uppercase;

  p {
    margin-bottom: 0;
  }
}

.footer-social {
  padding: 35px 0 0;
  margin-bottom: 0;

  margin: 0 -25px;

  li {
    display: inline-block;
    padding: 0 25px;
    margin-bottom: 25px;
  }

  @media (min-width: $screen-sm-min) {
    padding-top: 50px;
    margin: 0 -30px;

    li {
      padding: 0 30px;
      margin-bottom: 40px;
    }

    .fa {
      font-size: 5em;
    }
  }

  @media (min-width: $screen-md-min) {
    padding-top: 70px;
    margin: 0 -40px;

    li {
      padding: 0 40px;
      margin-bottom: 60px;
    }

    .fa {
      font-size: 6em;
    }
  }

  @media (min-width: $screen-lg-min) {
    padding-top: 90px;
    margin: 0 -50px;

    li {
      padding: 0 50px;
      margin-bottom: 80px;
    }

    .fa {
      font-size: 8em;
    }
  }

  a {
    &, &:link, &:visited {
      color: rgba(darken($footer-bg, 15%), 0.5);
    }

    &:hover, &:active {
      color: rgba(darken($footer-bg, 35%), 0.6);
    }
  }
}

.footer-bottom {
  background: rgba(lighten($footer-bg, 10%), 0.9);
  padding-bottom: 10px;

  .copyright {
    font-size: $font-size-small;
    margin-bottom: 0;

    @media (max-width: 320px) {
      font-size: $font-size-small - 1px;
    }
  }
}

body.home .footer-bottom {
  padding-bottom: 60px;

  @media (min-width: $grid-float-breakpoint) {
    padding-bottom: 82px;
  }

  @media (min-width: $screen-md-min) {
    padding-bottom: 84px;
  }

  @media (min-width: $screen-lg-min) {
    padding-bottom: 86px;
  }
}
