@media (min-width: $grid-float-breakpoint) {
  .navbar-center {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float: none;

    li {
      text-align: center;
      font-family: "TW Cen MT", "Century Gothic", CenturyGothic, Futura, "Trebuchet MS", $font-family-base;
      text-transform: uppercase;

      @media (min-width: $screen-md-min) {
        font-size: ($font-size-base * 1.6);
      }

      @media (min-width: $screen-lg-min) {
        font-size: ($font-size-base * 2);
      }

      a, a:link, a:visited {
        color: #d9d9d9;
      }

      a:hover, a:active {
        color: lighten($brand-primary, 15%) !important;
      }

      small {
        color: lighten($brand-primary, 10%);
        font-size: $font-size-small;
        text-transform: lowercase;
      }
    }
  }

  body.home .navbar {
    background: rgba($navbar-inverse-bg, 0.25);
    border-color: rgba($navbar-inverse-border, 0.25);
  }
}

body {
  padding-top: 50px;

  @media (min-width: $grid-float-breakpoint) {
    padding-top: 72px;
  }

  @media (min-width: $screen-md-min) {
    padding-top: 75px;
  }

  @media (min-width: $screen-lg-min) {
    padding-top: 78px;
  }

  &.home {
    padding-top: 0;
  }
}
